body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mobile-nav li a:hover {
  color: #b86bff;
}

main {
  flex: 1;
}

.hero {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 5px;
}

.hero-body {
  padding-left: 4em;
}

.image.is-2by1 {
  margin-top: 3em;
}

.image.is-2by1  img {
  border-radius: 5px;
}

.mobile-nav {
  background-color: #363636;
  z-index: 1;
  height: 8vh;
  width: 28vw;
}

.footer {
  height: 2em;
  padding-bottom: 1em;
}

/*jquery plugin*/
#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #selectable li { margin: 3px; padding: 1px; float: left; width: 100px; height: 80px; font-size: 4em; text-align: center; }

/*@media (max-width 960px) {
  main {
    flex: 1;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;

  }
}*/
